{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
<head>
  <style>
     #map {
      height: 80vh;
    }
  </style>
</head>


<div id="map"></div>

<div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasPanel" aria-labelledby="offcanvasPanel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTitle">Information for <strong id="stationName"> <!-- station name --> </strong> </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="mainBody" aria-labelledby="mainOffcanvasBody">

  </div>
</div>
{% endblock %}


{% block scripts %}

<script type="module">
    //custom function to sleep for some time
    function sleep(timeinms){
      return new Promise(resolve => setTimeout(resolve, timeinms));
    };

    const lineColours = {
      'Bakerloo' : 'RGB(166,90,42)',
      'Central' : 'RGB(225,37,27)',
      'Circle' : 'RGB(255,205,0)',
      'District' : 'RGB(0,121,52)',
      'Hammersmith-city' : 'RGB(236,155,173)',
      'Jubilee' : 'RGB(123,134,140)',
      'Metropolitan' : 'RGB(135,15,84)',
      'Northern' : 'RGB(0,0,0)',
      'Piccadilly' : 'RGB(0,15,159)',
      'Victoria' : 'RGB(0,160,223)',
      'Waterloo-city' : 'RGB(107,205,178)'
    }

    const data = await fetch("/sendStationData", {
      method: 'POST',
      headers : {'Content-Type' : 'application/json'},
    })
    .then((response) => response.json());

    const offcanvas = new bootstrap.Offcanvas('#offcanvasPanel'); //initialising the offcanvas element defined above
    //const offcanvas = bootstrap.Offcanvas.getInstance('#offcanvasPanel'); //getting the offcanvas element

    //listener event that resets the map view every time the offcanvas panel is closed
    const off = document.querySelector('#offcanvasPanel')
    off.addEventListener('hide.bs.offcanvas', event => {
      sleep(100).then(() => map.flyTo([51.54, -0.13], 10.9));
    })

    let map = L.map('map').setView([51.54, -0.13], 10.9);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    //bulk of the work happens in this function
    //gets the data for the pressed marker, processes it, builds the accordion dropdown item dynamically with the data
    //and then toggles the offcanvas popup
    async function onMarkerPress(e) {
      //below block gets the selected station id from the marker and then posts to server
      //receives response to json format and assigns to responseVal
      map.flyTo(e.latlng, 13);

      let selectedStation = e.target.options.id;
      let responseVal = await fetch("/", {
        method : "POST",
        headers : {"Content-Type" : "application/json"},
        body : JSON.stringify({"station" : selectedStation}),
      }
      ).then((response) => response.json())

      //below block builds the title of the offcanvas
      const stationTitle = document.getElementById("stationName");
      stationTitle.innerHTML = responseVal['station'];

      const linesServed = responseVal['linesServed'];
      const nextArrivals = responseVal['nextArrivals']

      //getting offcanvas and deleting accordion
      //this only works because offcanvas has a single child (THE MAIN ACCORDION BODY)
      //if more items added to offcanvas, use while loop with similar syntax to remove all
      const offcanvasBody = document.getElementById("mainBody");
      if (offcanvasBody.firstChild){
        offcanvasBody.removeChild(offcanvasBody.firstChild)
      }

      //getting accordion body and appending accordion item to it
      let accordionBody = document.createElement("div");
      accordionBody.setAttribute("id", "mainAccordionBody");
      accordionBody.className = "accordion";



      offcanvasBody.appendChild(accordionBody);


      for(let line of linesServed){
        let item = document.createElement("div");
        item.classList.add('accordion-item');

        let header = document.createElement("h2");
        header.classList.add("accordion-header");

        let button = document.createElement("button");
        button.className = "accordion-button collapsed";
        button.setAttribute('data-bs-toggle','collapse');
        button.setAttribute("type", "button");
        button.setAttribute("data-bs-target", `#collapse${line}`);
        button.setAttribute("aria-expanded", "false");
        button.setAttribute("aria-controls", `collapse${line}`);
        button.setAttribute("id", `button${line}`)
        button.innerHTML = `${line} line`;
        button.style.color = lineColours[line]

        let collapse = document.createElement("div");
        collapse.className = "accordion-collapse collapse";
        collapse.setAttribute("id", `collapse${line}`);
        collapse.setAttribute("data-bs-parent", "#mainAccordionBody");
        collapse.addEventListener('shown', function(){
          console.log('shown')
        })


        let body = document.createElement("div");
        const lineArrivals = nextArrivals[line.toLowerCase()];
        body.className = "accordion-body";
        body.setAttribute("id", `body${line}`);

        //creating the list of soonest arrival times for each terminal station

        let finalInput = ""
        for (let terminus of Object.keys(lineArrivals)){
          const minutes = Math.floor(lineArrivals[terminus] / 60); //the minutes of the time prediction using floor div
          const seconds = lineArrivals[terminus] % 60;
          finalInput = finalInput + `The next train for <strong>${terminus}</strong> is arriving in ${minutes} minutes and ${seconds} seconds<br><br>`
        };

        body.innerHTML = finalInput

        header.appendChild(button);
        collapse.appendChild(body);

        item.appendChild(header);
        item.appendChild(collapse);
        accordionBody.appendChild(item)

      }

      //to allow time for map to get to marker
      sleep(350).then(() => offcanvas.toggle());
    };

    let markers = {};

    for (let i in data){
        let current = data[i];
        let lines = current.properties.linesServed;

        let tooltipMessage = `<strong>${current.properties.name}</strong><br>`;
        let imageRefBase = 'static/images/'
        for (let line of lines){
          tooltipMessage = tooltipMessage + `<img src='${imageRefBase}${line}Logo.png' width='30'/>`
        }

        markers[i] = L.marker([current.geometry.coordinates[0], current.geometry.coordinates[1]], {id : current.properties.name})
        .bindTooltip(tooltipMessage, {direction : 'top', opacity : 0.9});




        markers[i].on('click', onMarkerPress);
        markers[i].addTo(map);
    };


</script>

{% endblock %}
