{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
<head>
  <style>
     #map {
      height: 80vh;
    }
  </style>
</head>


<div onload="testfun()" id="map"></div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>

<script src="static/leaflet.js"></script>

<script>
  function testfun(){
    console.log('ran')
    const offcanvasElementList = document.querySelectorAll('.offcanvas');
    const offcanvasList = [...offcanvasElementList].map(offcanvasEl => new bootstrap.Offcanvas(offcanvasEl));
    offcanvasElementList.show();
  }
</script>

{% endblock %}

{% block scripts %}

{% endblock %}
