linedatabases/.DS_Store
linedatabases/raw/.DS_Store
.DS_Store
project/core/__pycache__/tfl_station.cpython-311.pyc
project/log.txt
project/__pycache__
project/core/__pycache__
project/log.txt
project/__pycache__/main.cpython-311.pyc
node_modules
project/data/trainingdataWeatherGeo.json
project/data/testingdataAll.json
project/data/trainingdataFinal.json
project/data/testingdataFinal.json
project/data/mlData/testingdataAll.json
project/data/mlData/trainingdataFinal.json
project/data/mlData/testingdataFinal.json
project/data/mlData/allData.json
project/data/mlData/testingdata.json
project/data/mlData/trainingdata.json
project/data/mlData/validatingdata.json
project/logs